{% extends 'base.html.twig' %}

{% block body %}

    {% block header %} 
        {% include 'includes/header.html.twig' %}
        <div id="fitarosa"></div>
        <div id="fitaazul"></div>
        <div id="fitaverde"></div>
    {% endblock %}

    <div class="container">
        {% block flash_messages %} 
            {% if(app.session.flashBag.has('success')) %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg|trans }}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if(app.session.flashBag.has('info')) %}
                <div class="alert alert-info">
                    {% for msg in app.session.flashBag.get('info') %}
                        {{ msg|trans }}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if(app.session.flashBag.has('warning')) %}
                <div class="alert alert-warning">
                    {% for msg in app.session.flashBag.get('warning') %}
                        {{ msg|trans }}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if(app.session.flashBag.has('error')) %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg|trans }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
    {% block content %} {% endblock %}

    {% block footer %}
        {% include 'includes/footer.html.twig' %}
    {% endblock %}

{% endblock %}
