{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h2>Obrigado por participar =)</h2>

        <p>Já criamos seu usuário {{ user.firstname|capitalize }}, agora é só começar a animar ;).</p>
    </div>

{% endblock %}
