<footer>
    <section>

    </section>
    <section>
        <a class="termos rs" href="{{ path('main_termo') }}">Termos de uso</a>
        <p>Projeto de Conclusão de Curso de Flavia A. Piocopi, Virgínia Rubia A. F. X. de Moraes e Diego Biagi Viana</p>
        <p>Grupo de pesquisa <a class="am" href="http://www.pipolunesp.com.br/">P.I.P.O.L.</a> - UNESP Bauru</p>
    </section>
</footer>