{% extends 'layout.html.twig' %}

{%block content %} 
    <section class="container">
        <h2 class="az">Ao participar do projeto você aceita os termos de uso abaixo citados:</h2>
        <p>Os direitos autorais sobre o projeto estão licenciados com a <a class="rs" target="blank" href="http://creativecommons.org/licenses/by-nc/4.0/">Licença Creative Commons</a>, e você , usuário, que criou um tralho utilizando o código do app e/ou participou da criação de uma animação, cede os direitos autorais de sua criação ao projeto "Todos Por Um", autorizando o livre uso do material à qualquer indivíduo, sem fins comerciais.</p>
        <p>Caso haja interesse em utilizá-los para a promoção de algum produto ou marca, ou qualquer atividade com fins lucrativos, a equipe do site deve ser informada e os lucros devidamente distribuídos entre os envolvidos na animação(válido apenas para usuários que consigam ser contatados) mediante um acordo legal. Lembrando que, mediante a negociações, o uso poderá ser autorizado ou não e o descumprimento dessas normas é passível de punição jurídica. </p> 
        <p>Caso tenha participado de uma animação e esta for requerida para uso comercial, a equipe do <i>Todos Por Um</i> tentará entrar em contato via email para que participe e ou dê sua opinião sobre as negociações, porém a equipe está isenta de qualquer responsabilidade e você perderá o direito à qualquer tipo de reclamação posterior caso não consiga ser contatado.</p>

        <p>O código de programação do AnimApp ficará disponível aos usuários e caso os mesmos possuam sugestões, idéias e adicionais ao projeto, poderão enviar seu complemento à equipe que avaliará a contribuição e sua possível adição ao aplicativo. Essa contribuição deve ser gratuita já que o projeto está aberto para o uso de todos.</p>

    </section>

    <section id="cc" class="container center"><a rel="license" target="blank" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Todos por um - AnimApp</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://todosporum.tk/" property="cc:attributionName" rel="cc:attributionURL">Flavia A. Piocopi, Virgínia Rubia A. F. X. de Moraes e Diego Biagi Viana</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons - Atribuição-NãoComercial 4.0 Internacional</a>.<br />Baseado no trabalho disponível em <a xmlns:dct="http://purl.org/dc/terms/" href="http://todosporum.tk/" rel="dct:source">http://todosporum.tk/</a>.<br />Podem estar disponíveis autorizações adicionais às concedidas no âmbito desta licença em <a xmlns:cc="http://creativecommons.org/ns#" href="http://todosporum.tk/contato.php" rel="cc:morePermissions">http://todosporum.tk/contato.php</a>.</section>

{% endblock %}
