{% extends 'layout.html.twig' %}

{% block content %}
    <section class="container center">
        <h2 class="am">Galeria
            <div id="busca">
                <form action="">
                    <input type="text">
                    <a class="fa fa-search btn-mini bg_az"></a>
                </form>
            </div>
        </h2>
       
        {{ render_esi(controller('DBiagiMainBundle:Animation:Widget', {
            'currentPage': app.request.get('page')|default(1)
        })) }}
    </section>
{% endblock %}
