{% block animation_widget %} 
    <ul id="progress" class="galeria clear">
        {% for part in parts %}
            <li>
                <a data-toogle="modal" data-target="galery-modal" class="videos btn-mini bg_am" data-thumbnail="{{ part.thumbnail }}">Visualizar</a>
                <img src="{{ part.thumbnail }}" alt="">
                <a href="{{ path('edit_animation', { id: part.id }) }}" class="btn-mini bg_az">Continuar esta!</a>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        {{ knp_pagination_render(parts) }}
    </div>

    <div id="galery-modal" class="modal fade" role="dialog">

    </div>
{% endblock %}
