{% extends 'DBiagiMainBundle::layout.html.twig' %}

{% block content %} 
    <section class="container">
        <h3 class="az">Proposta</h3>
        <p>
            Um site com uma ferramenta interativa que utiliza dos conceitos de emergência de Steven Johnson para possibilitar a confecção de animações coletivas.
        </p>		
    </section>
    <section class="container" id="conceito">

        <h3 class="vd">Conceito</h3>

        <p>Iniciando a partir da leitura do livro “Emergência - A vida integrada de formigas, cérebros, cidades e softwares” de Steven Johnson onde é tratado o conceito de emergência; não no significado de urgência, mas de algo que emerge a partir de um comportamento coletivo.</p>

        <quote>O movimento das regras de nível baixo para a sofisticação do nível mais alto é o que chamamos de emergência. <h6><i>(Emergência, pág.14)</i></h6></quote>
        <quote>(...)agentes simples seguindo regras simples eram capazes de gerar estruturas surpreendentemente complexas(...) <h6><i>(Emergência, pág.12)</i></h6></quote>
        <quote>Essa mistura de ordem e anarquia é o que chamamos de comportamento emergente. <h6><i>(Emergência, pág.27)</i></h6></quote>
        <img style="float: right;" src="img/formigas.png" alt="">
        <p>Ainda hoje, para muitas pessoas é difícil pensar em um fenômeno ocorrendo sem a presença de lideranças, apesar de ser um comportamento natural, como podemos ver em colônias de formigas, onde, apesar de denominarmos uma formiga rainha, ela não possui subordinados, apenas faz seu papel no ecossistema da colônia.</p>
        <quote>Seus genes as instruem a proteger a mãe, da mesma maneira que seus genes as instruem a procurar suprimentos.  Em outras palavras, a matriarca não treina seus servos par protegê-la, é a evolução que faz isso. <h6><i>(Emergência, pág.23)</i></h6></quote>
        <p>Um dos comportamentos emergentes mais estudados, além das colônias de formigas, é o do Dictyostelium discodeum. Este organismo unicelular tem um comportamento peculiar: quando as condições gerais do ambiente são favoráveis, ele libera ondas de AMP cíclico, o que é um sinal para que os pequenos seres se agrupem, formando uma grande massa que chega a ser visível a olho nu. Tudo isso sem que haja uma célula líder que inicia as ondas de AMP cíclico.</p>

        <div class="center"><div class="videoWrapper relatorio"><iframe width="800" src="https://www.youtube.com/embed/V51t5cC4yAU" frameborder="0" allowfullscreen></iframe></div></div>

        <p>A cientista Evelyn Fox Keller faz uma observação interessante sobre o assunto, que é citada no livro de Johnson:</p>

        <quote>“Eu dava seminários para biólogos e eles me perguntavam: ‘E daí?  Onde está a célula iniciadora? Onde está o líder?’ as explicações simplesmente não satisfaziam.” Na realidade, a hipótese do líder continuaria a reinar como modelo por mais uma década,  até que uma série de experimentos comprovasse que as células do Dictyostelium discodeum se organizavam de baixo para cima. “Fico surpresa ao ver como as pessoas acham difícil pensar em termos de fenômeno coletivo” <h6><i>(Emergência, pág.13)</i></h6></quote>

        <p>Mas com tantas formas de representar o comportamento emergente, por que uma forma de criação que tanto se assemelha a um jogo? E ainda algo online, abstrato, que não se pode tocar, não é palpável, uma não-coisa?</p>
        <p>Neste ponto entramos na teoria de Vilém Flusser, exposta no livro “O Mundo Codificado” que diz  que</p>

        <quote>Nosso interesse existencial desloca-se, a olhos vistos, das coisas para as informações. Estamos cada vez menos interessados em possuir coisas e cada vez mais querendo consumir informações. Não queremos apenas um móvel a mais ou uma roupa, mas gostaríamos também de uma viagem de férias, uma escola ainda melhor para os filhos e mais um festival de música em nossa região. As coisas começam a retirar-se para o segundo plano de nosso campo de interesses. Ao mesmo tempo, uma parcela cada vez maior da sociedade ocupa-se com a produção de informações, “serviços”, administração, sistemas, e menos pessoas se dedicam à produção de coisas. <h6><i>(O Mundo Codificado, pág.55)</i></h6></quote>

        <quote>Que tipo de homem será esse que, em vez de se ocupar com coisas, irá se ocupar com informações, símbolos, códigos, sistemas e modelos? <h6><i>(O Mundo Codificado, pág.57)</i></h6></quote>

        <quote>O novo homem não é mais uma pessoa de ações concretas, mas sim um performer (<i>Spieler</i>): <i>Homo ludens</i>, e não um <i>Homo faber</i>. Para ele a vida deixou de ser um drama e passou a ser um espetáculo. Não se trata mais de ações mas sim de sensações. O novo homem não quer ter ou fazer, ele quer vivenciar. Ele deseja experimentar, conhecer e sobretudo, desfrutar.<h6><i>(O Mundo Codificado, pág.58)</i></h6></quote>
        <p>E foi pensando no Homo ludens de Flusser juntamente com o comportamento emergente de Johnson que apareceu a ideia de fazer um “jogo de criação coletiva”.</p>
    </section>

    <section class="container" id="referencias">

        <h3 class="am">Referências</h3>
        <h4 class="rs"><a target="blank" href="http://www.starwarsuncut.com/">Star Wars Uncut</a></h4> 
        <p class="clear">
            <a target="blank" href="http://www.starwarsuncut.com/"><img src="img/starwarsuncut.jpg" style="float: left; margin-right: 15px;" alt=""></a>
            Star Wars Uncut é uma refilmagem dos filmes originais de Star Wars feito de várias partes regravadas por fãs e agrupadas de forma a montar o mesmo enredo. Para conhecer mais sobre o projeto, acesse <a target="blank" href="http://www.starwarsuncut.com/">starwarsuncut.com</a></p>

        <h4 class="vd"><a target="blank" href="http://www.exquisiteforest.com/">This Exquisite Forest</a></h4>
        <p class="clear">
            <a target="blank" href="http://www.exquisiteforest.com/"><img src="img/exquisiteforest.jpg" style="float: left; margin-right: 15px;" alt=""></a>
            Neste projeto, cada animação iniciada vira uma arvore de enredos feitos por pessoas diferentes. As bifurcações com dois enredos, ou mais, possíveis se tornam os galhos da árvore, e ao assistir você pode escolher por qual ramo vai seguir. Dê oma olhada em <a target="blank" href="http://www.exquisiteforest.com/">exquisiteforest.com</a></p>

        <h4 class="az">Jogo: História maluca</h4>
        <p>Este jogo infantil funciona assim: Normalmente se tem delimitado um número de palavras ou de frases para que ninguém extrapole ou burle a brincadeira. A primeira pessoa começa a escrever uma história e, dado o limite, passa o papel para que o próximo continue e assim sucessivamente até que terminem todas as pessoas da fila. Ninguém pode interferir na parte do outro e deve continuar exatamente do ponto em que o anterior parou. Ao final a história é lida para todos.</p>

        <h4 class="rs">Jogo: Desenho maluco</h4>
        <p>Uma variação do jogo anterior, este funciona da mesma forma só que com um desenho. São delimitados número de traços ou tempo para que uma pessoa desenhe e passe para a próxima. </p>


        <h4 class="am">Dança do pau de fitas</h4>
        <div class="clear">
            <quote>Dança de pares de origem portuguesa, que ocorre ao redor de um mastro encimado por um conjunto de largas fitas multicores. Os participantes formam dois grupos que, dançando, entrelaçam fitas, formando um trançado em volta do mastro.
                (Trecho retirado do site <a href="http://www.cnfcp.gov.br/tesauro/00001755.htm" target="blank">Centro Nacional de Folclore e Cultura Popular</a>)</quote>
            <p>A dança do pau-de-fitas ou dança das fitas é uma dança folclórica coreografada originária da Europa. No Brasil, a dança foi incorporada na cultura regional de vários estados, recebendo nomes diversos, assim como características diferentes para cada região, como as roupas e cantigas. Apesar das pequenas modificações, sua essência é a mesma.</p>
            <div class="galeriaModal clear">
                <a rel="paudefitas" href="img/paudefitas1.jpg" class="paudefitas"><img src="img/paudefitas1.jpg" alt=""></a>
                <a rel="paudefitas" href="img/paudefitas2.jpg" class="paudefitas"><img src="img/paudefitas2.jpg" alt=""></a>
                <a rel="paudefitas" href="img/paudefitas3.jpg" class="paudefitas"><img src="img/paudefitas3.jpg" alt=""></a>
            </div>
            <p><h6>*Fotos retiradas o flickr de <a target="blank" href="https://www.flickr.com/photos/ivanovick/">Ivan Ivanovick</a>. Todos os direitos reservados ao fotógrafo.</h6></p>
            <p>Dependendo da forma que se dança, é possível gerar uma infinidade de diferentes resultados com vários tipos de complexos trançados. Podemos ver na imagem abaixo um exemplo com três desenhos diferentes. </p>
            <p class="center">
                <img src="img/trancado.jpg" alt="">
            <h6 class="center"><a target="blank" href="http://portaldoprofessor.mec.gov.br/fichaTecnicaAula.html?aula=28774">Fonte da imagem</a></h6>
            </p>
            <p>Esta dança folclórica foi escolhida pelas características coletiva e lúdica, como símbolo do projeto, inspirando toda a sua identidade visual.</p>
            <p>A dança do pau de fitas não pode ser dançada por uma pessoa sozinha. São necessárias várias trabalhando juntas para transformar as várias fitas soltas em belos trançados. Os passos são as regras da dança, e estes devem ser seguidos de forma precisa para um trabalho perfeito. Se alguém erra ou não colabora, o trabalho de toda a equipe é prejudicado, pois na hora de "desdançar" a dança, as fitas começarão a se enrolar umas nas outras. Cada um deve fazer sua parte para o bem do todo, colaborando com a equipe igualmente, já que não há ninguém ditando as regras e corrigindo passos durante a execução da dança.</p>
        </div>



    </section>

    <section class="container" id="projeto">

        <h3 class="rs">Projeto</h3>

        <h4 class="am">Sugestões de nome</h4>
        <ul class="lista">
            <li>AnimaAll</li>
            <li>AnimAction</li>
            <li>AnimAll</li>
            <li>Cometa</li>
            <li>Conecta mondo</li>
            <li>Conecta mundo</li>
            <li>InfinitAção</li>
            <li>Todos por um</li>
        </ul>
        <p>
            <b>Nome escolhido:</b> Todos por um </p>
        <p><b>Porque:</b> vem de todos unidos num coletivo por um mesmo objetivo, neste caso, a criação de uma animação. Também é o título da introdução do livro “Emergência - A vida integrada de formigas, cérebros, cidades e softwares”, o qual utilizamos como inspiração para o projeto.
        </p>
        <h4 class="vd">Paleta de cores</h4>
        <p>As cores escolhidas pretendem transmitir animação, alegria, energia. Cores com grande destaque sobre o fundo neutro, dando vida a composição.</p>
        <div class="center"><img src="img/paleta.png" alt="" width="800"></div>
        <h4 class="rs">Logo</h4>
        <h5 class="az">Scketchs</h5>
        <div class="galeriaModal clear">
            <a rel="logo-sketch" href="img/l1.jpg" class="logo-sketch"><img src="img/l1.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l2.jpg" class="logo-sketch"><img src="img/l2.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l3.jpg" class="logo-sketch"><img src="img/l3.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l4.jpg" class="logo-sketch"><img src="img/l4.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l5.jpg" class="logo-sketch"><img src="img/l5.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l6.jpg" class="logo-sketch"><img src="img/l6.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l7.jpg" class="logo-sketch"><img src="img/l7.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l8.jpg" class="logo-sketch"><img src="img/l8.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l9.jpg" class="logo-sketch"><img src="img/l9.jpg" alt=""></a>
            <a rel="logo-sketch" href="img/l10.jpg" class="logo-sketch"><img src="img/l10.jpg" alt=""></a>
        </div>
        <h5 class="rs">Logo Escolhida</h5>
        <p>A logo escolhida foi concebida pensando no símbolo do projeto, o pau-de-fitas. Para trabalhar a estética e movimento da dança na logo, as lestras foram desenhadas como se fossem as próprias fitas em movimento.</p>
        <div class="galeriaModal clear">
            <a rel="logo-final" href="img/logo.jpg" class="logo-final"><img src="img/logo.jpg" alt=""></a>
            <a rel="logo-final" href="img/logo_color.jpg" class="logo-final"><img src="img/logo_color.jpg" alt=""></a>
            <a rel="logo-final" href="img/logo_gray.jpg" class="logo-final"><img src="img/logo_gray.jpg" alt=""></a>
        </div>
        <h4 class="am">Layout</h4>
        <p></p>
        <div class="galeriaModal clear">
            <a rel="layout" href="img/wireframe.jpg" class="layout" title="Wireframe"><img src="img/wireframe.jpg" alt=""></a>
            <a rel="layout" href="img/lay2proposta.jpg" class="layout" title="Primeira proposta de layout"><img src="img/lay2proposta.jpg" alt=""></a>
            <a rel="layout" href="img/lay1proposta.jpg" class="layout" title="Segunda proposta de layout"><img src="img/lay1proposta.jpg" alt=""></a>
            <a rel="layout" href="img/lay3-proposta.jpg" class="layout" title="Terceira proposta de layout"><img src="img/lay3-proposta.jpg" alt=""></a>
            <a rel="layout" href="img/lay1modificado.jpg" class="layout" title="Quarta proposta de layout. (Proposta escolhida)"><img src="img/lay1modificado.jpg" alt=""></a>
        </div>
        <h4 class="vd">Ilustração</h4>
        <p>Para a Ilustração tema da página inicial do site foram desenvolvidas às seguintes propostas:</p>
        <div class="galeriaModal clear">
            <a rel="ilustra" href="img/ilustra01.jpg" class="logo-final" title="Primeira proposta de ilustração"><img src="img/ilustra01.jpg" alt=""></a>
            <a rel="ilustra" href="img/ilustra02.jpg" class="logo-final" title="Segunda proposta de ilustração"><img src="img/ilustra02.jpg" alt=""></a>
            <a rel="ilustra" href="img/ilustra03.jpg" class="logo-final" title="Terceira proposta de ilustração (escolhida)"><img src="img/ilustra03.jpg" alt=""></a>
        </div>
        <p>A terceira proposta, inspirada na referência do pau de fita, movimento e abstração de ideias foi escolhida e desenvolvida nos programas Paint Tool SAI e Adobe Photoshop. <br>Na versão final, foram adicionados mais efeitos simbolizando a presença dos elementos no mundo das não-coisas. </p>
        <p class="center"><img src="img/ilustra.png" width="800" alt=""></p>
        <h4 class="az">Video</h4>
        <p>Para concepção do video foi formulada uma história simples que prioriza explicar as principais ferramentas e funções diferencias do programa e também as regras básicas que permitem o funcionamento do jogo e interatividade com os demais usuários.</p>
        <p>O story-board recebeu muitas edições e foi melhor produzido somente após a produção do script, visando uma história que possibilitasse qualquer usuário com conhecimentos prévios sobre sistemas de animação ou não, localizar e utilizar o aplicativo.</p>
        <p class="center">
            <a href="img/script.pdf" target="blank" class="btn-mini bg_am">Ver Script</a></p>
        <p class="center"><img src="img/story.jpg" alt=""></p>
        <p>O vídeo explicativo para o Animapp utiliza técnicas mistas de stop-motion, movimento causado pela segmentação de frames feitos com fotos, speed-draw, aceleração da sequência de frames em filmagem gravada, e animação, utilizando-se de recursos de softwares próprios para esta função. <br>
            Os softwares usados no processo foram Adobe Photoshop, Adobe Ilustrador, Adobe After Effects, Adobe Premiere Pro e Audacity. As ilustrações simples que elucidam o vídeo se alinham com a ideia dos desenhos rápidos e lúdicos escolhidos pela maioria dos usuários ao experimentar o processo de animação pela primeira vez, utilizando ferramentas básicas de desenho. <br><br>
            Você pode assistir ao video na <a href="index.php">página inicial do site</a>.
        </p>
    </section>
    <section class="container" id="app">
        <h3 class="rs">App</h3>
        <h4 class="am">Nome</h4>
        <p>O nome AnimApp veio baseado em variações de algumas sugenstões de nome do projeto como AnimAction e AnimAll.</p>
        <h4 class="az">Layout</h4>
        <div class="galeriaModal clear">
            <a rel="animapp" href="img/DSC_21310.jpg" class="layout" title="Primeira proposta de layout"><img src="img/DSC_21310.jpg" alt=""></a>
            <a rel="animapp" href="img/DSC_21320.jpg" class="layout" title="Segunda proposta de layout"><img src="img/DSC_21320.jpg" alt=""></a>
            <a rel="animapp" href="img/DSC_21301.jpg" class="layout" title="Terceira proposta de layout"><img src="img/DSC_21301.jpg" alt=""></a>
            <a rel="animapp" href="img/DSC_21302.jpg" class="layout" title="Quarta proposta de layout"><img src="img/DSC_21302.jpg" alt=""></a>
            <a rel="animapp" href="img/DSC_21340.jpg" class="layout" title="Quinta proposta de layout (escolhida)"><img src="img/DSC_21340.jpg" alt=""></a>
        </div>
        <p>A partir do layout escolhido, a versão final do AnimApp deverá ficar desta forma:</p>
        <p class="center">
            <img src="img/animapp_lay1.png" width="800" alt=""></p>
        <h4 class="vd">Regras</h4>
        <h5 class="rs">Para que ainda não está animando:</h5>
        <ul class="lista">
            <li>Para participar de qualquer animação é necessário cadastro no site</li>
            <li>Não pode entrar em uma animação da qual ela já participou</li>
            <li>Pode assistir ao que já foi feito antes de começar</li>
            <li>Opção “Escolha randômica de animação”</li>
        </ul>

        <h5 class="am">Para quem já está animando:</h5>
        <ul class="lista">
            <li>Tempo máximo de trabalho: 2h</li>
            <li>Tempo máximo que pode ser produzido: 1 min</li>
            <li>Ao solicitar uploads ou revisão de video a tela de edição congela e o cronômetro também</li>
            <li>O salvamento do arquivo será automático</li>
            <li>Caso fique inativo em uma animação por mais de 3 dias ela volta a ficar disponível para outros usuários e a pessoa perde o direito de entrar nesta animação novamente.</li>
        </ul>
        <h4 class="az">Funções disponíveis no AnimApp</h4>
        <ul class="lista">
            <li>Timeline</li>
            <li>Pincel</li>
            <li>Borracha</li>
            <li>Linha</li>
            <li>Quadrado</li>
            <li>Elipse</li>
            <li>Mover</li>
            <li>Redimensionar</li>
            <li>Balde de tinta</li>
            <li>Enviar Arquivo</li>
            <li>Cor</li>
            <li>Desfazer</li>
            <li>Resfazer</li>
            <li>Replay</li>
            <li>Temporizador</li>
        </ul>
    </section>
    <section class="container">
        <h3 class="am">Considerações finais</h3>

        <p>O projeto por sua própria natureza de criação coletiva sempre estará em curso através das animações em desenvolvimento e a possibilidade de mutação do código do Animapp por terceiros que ficará disponível juntamente com o aplicativo.</p>
        <p>O aplicativo que está sendo integrado pelo programador Diego Biagi poderá ser utilizado em breve dentro de alguns meses.</p>

    </section>

    <section class="container" id="bibliografia">

        <h3 class="vd">Referências Bibliográficas</h3>

        <p>FLUSSER,Vilém. O mundo codificado: por uma filosofia do design e da comunicação. São Paulo: Cosac Naify, 2007. </p>
        <p>JOHNSON, Steven. Emergência. A dinâmica de rede em formigas, cérebros, cidades e softwares. São Paulo: Jorge Zahar Editor, 2004.</p>
        <h3 class="rs">Bibliografia</h3>
        <p>LÉVY, Pierre. O que é o Virtual? Col. Trans, Rio de Janeiro: Editora 34, 1996.</p>
        <p>DELEUZE, Gilles e GUATTARI, Félix. Mil Platôs V.1 a 5. São Paulo: Editora 34, 2000.</p>
        <p>SANTAELLA, Lúcia. Linguagens Líquidas na Era da Mobilidade. São Paulo: Paulus Editora,2007.</p>
        <p>FLATSCHART, Fábio. HTML5: embarque imediato. Rio de Janeiro: Brasport, 2011.</p>
        <p>ANDRADE, Marcos Serafim de. Adobe Photoshop CS5. São Paulo: Editora Senac São Paulo, 2010.</p>
        <p>COELHO, Raquel. A arte da animação / textos e ilustrações. São Paulo: Formato Editorial, 2000.</p>
        <p>ROYO, Javier. Design Digital. São Paulo: Edições Rosari, 2008.</p>
        <p>GOODWIN, Kim. Designing for the digital age: how to create human-centered products and services. Indianapolis: Wiley Publishing, Inc., 2009.</p>
        <p>BONSIEPE, Gui. Design, cultura e sociedade. São Paulo: Bluscher, 2011.</p>
        <h3 class="az">Infografia</h3>
        <p><a href="http://www.starwarsuncut.com/">http://www.starwarsuncut.com/</a></p>
        <p><a href="http://www.exquisiteforest.com/">http://www.exquisiteforest.com/</a></p>
        <p><a href="https://www.flickr.com/photos/ivanovick/albums/72157641759334534">https://www.flickr.com/photos/ivanovick/albums/72157641759334534</a></p>
        <p><a href="http://portaldoprofessor.mec.gov.br/fichaTecnicaAula.html?aula=28774">http://portaldoprofessor.mec.gov.br/fichaTecnicaAula.html?aula=28774</a></p>
        <p><a href="http://www.cnfcp.gov.br/tesauro/00001755.htm">http://www.cnfcp.gov.br/tesauro/00001755.htm</a></p>
        <p><a href="http://www.guiafloripa.com.br/cultura/folclore/danca-do-pau-de-fitas">http://www.guiafloripa.com.br/cultura/folclore/danca-do-pau-de-fitas</a></p>
        <p><a href=""></a></p>
    </section>

{% endblock %}
